{{ if eq .p10k_style "neon" }}
{{ (include "config/styles/neon/p10k.zsh") | indent 0 }}
{{ else if eq .p10k_style "minimal" }}
{{ (include "config/styles/minimal/p10k.zsh") | indent 0 }}
{{ else }}
# Default fallback
{{ (include "config/styles/minimal/p10k.zsh") | indent 0 }}
{{ end }}
